@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root { /*Escopo global, declaração de variáveis*/
	--cor-primaria: #333333;
	--cor-secundaria: #ffffff;
	--cor-terciaria: #121212;
    	--cor-quartenaria: #8EAAFB;
	--font-primaria: 'Roboto', sans-serif;
}
.two-column-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas de largura igual */
    grid-gap: 10px; /* Espaçamento entre as colunas e as linhas */
  }
body {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
}

.header {
    background-color: #333333;
  
}

.section-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
}

.img-profile{
    border-radius: 10rem;
    width: 15rem;
}

.bi-linkedin {
    color:#0066d3;
}

.nav {
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 1.5rem 0;
   
}

.nav-link {
    text-decoration: none;
    color: var(--cor-quartenaria);
    font-weight: 500;
    padding: 0.5rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.baixar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 1rem;
    width: 70%;
    list-style: none; /* Remove o ponto de lista */
    margin-right: 25px;
}

  


.section-main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--cor-primaria);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 70%;
}

.section {
    display: grid;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--cor-primaria);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 70%;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.container- {
    display: flex;
    flex-direction: column;
}

.container-img {
    display: flex;
   flex-direction: column;
   justify-content: center;
}

.ul {
    padding: 2rem;
    line-height: 1.5rem;
}
.curso_nhem{
    display: flex;
    margin-right: 100px;
    padding: 2rem;
    line-height: 1.5rem;
    
}

.img-main {
    border-radius: 10rem;
    width: 8rem;
    padding: 1rem;
}

.img {
    width: 15rem;
    border-radius: 5px;
    border: var(--cor-terciaria) solid 10px;
    transition: transform 0.4s ease;
}

.img:hover {
    transform: scale(1.1);
}

.img-icon {
    width: 3rem;
    padding: 0.5rem;
}

.link {
    text-decoration: none;
    color: var(--cor-quartenaria);
}

.p {
   line-height: 1.5rem;
}

.footer {
    background-color: var(--cor-primaria);
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 1500px)
{
  
}
@media (max-width: 1300px)
{
  
}
@media (max-width: 1070px)
{
  .section-main {
    display: grid;
    flex-direction: column;
    width: 80%;
  }
  .container-img {
    align-items: center;
  }
}
@media (max-width: 900px)
{
  .section-main {
    width: 80%;
  }
}
@media (max-width: 480px)
{
    .span {
        display: block;
        position: relative;
        line-height: 2rem;
        text-align: center;
        text-decoration: none;
    }
}
